[2013-04-09 08:51] sideshowcoder opened #1 "Create some output for the bin so user knows the server started"
currently running

[code]

shows nothing util the first request, this should be fixed to show some info about the server starting

[2013-04-09 08:52] sideshowcoder opened #2 "Add some command line parsing"
It would be nice to specify the directory as well as the port via the command line, so we should add some command line parsing here

[2013-04-09 14:10] #2 closed, assigned to nobody

[2013-04-09 14:11] #1 closed, assigned to nobody

[2013-05-14 15:47] sideshowcoder opened #3 "Provide comment syntax for responses"
The files don't provide a way to comment the fields or even the whole file, this would ease development and documentation.

something like

[code]

should result in

[code]

[2013-05-19 08:54] #3 closed, assigned to nobody

[2013-06-14 10:22] sideshowcoder opened #4 "Better error messages for invalid input files"
parse error: Invalid numeric literal at line 2, column 9 for invalid json

[2013-06-14 10:33] leifg opened #5 "Crash if you rename folder"
If you rename/delete a folder and make a request to the old location, the following error appears:

[code]

[2013-07-03 13:43] sideshowcoder opened #7 "Support http response code setting"
Allow to set the http response code, so we can mock errors like 404 with a json response

maybe via file name resource.get.json.404

[2013-07-09 09:30] #7 closed, assigned to nobody

[2013-07-09 09:52] #5 closed, assigned to nobody

[2013-11-26 08:38] sideshowcoder opened #13 "Automate update documentation Webpage"
Currently the process of updating the documentation page involves

[code]

this is an error prone process, so It would be nice if we could do

[code]

[2013-11-27 09:29] sideshowcoder opened #15 "Wrong log output for files with query params"
When I start canned in the `spec/test_responses` folder and I request a file with query params I get the correct file served but the output in the log shows the wrong file. This is not that bad but really confusing when mocking services which rely heavily on query params.

![wrong_log](https://f.cloud.github.com/assets/108488/1630195/58a51722-5746-11e3-9121-b57a9c56048e.png)

[2013-11-28 10:22] sideshowcoder opened #16 "Create an API documentation page based on the files"
Scanning through the directory to explore the API is nice but it would be great if it would be possible to output a simple HTML page which just lists the available endpoints with their requests.

Something like seen in the readme for showing what canned can do.

[2013-11-29 13:19] #15 closed, assigned to nobody

[2013-12-11 08:06] sideshowcoder opened #19 "Windows cannot deal with & and ? in filenames"
When on windows checking out a repository which contains files with `?` or `&` in their names will fail, since they are not valid chars for windows filenames. This is trouble when using get parameters encoded in the filename.

One way to solve this would be to add the parameters like a special comment as StatusCode already is. In this case their is the need to provide a way to have multiple files

[2013-12-11 08:10] sideshowcoder opened #20 "improve getting started docs"
@mulderp pointed out rightfully that the getting started is located rather awkward at the middle if the docs. I think to move it to the top would be great as long as their is a small example in there which explains more then just how to start canned but includes a simple one file setup maybe?

[2013-12-11 10:40] #4 closed, assigned to nobody

[2013-12-12 14:28] runemadsen opened #22 "Default error message"
Most API's have a default error message like this:

[code]

It would be awesome if we could create a `404.json` or something, and have a default error response from canned. Any thoughts on name and other functionality? I might take a stab at this soon.

[2013-12-22 08:29] mulderp opened #23 "Improve Error Message for invalid syntax"
I observe the following:

<pre>
pmu:tmp pmu$ mkdir api
pmu:tmp pmu$ cat > api/posts.json
[ "123" ]
pmu:tmp pmu$ canned
starting canned on port 3000 for ./
request: get /api/posts.json
/usr/local/share/npm/lib/node_modules/canned/lib/response.js:17
  this.cors_enabled = !!options.cors_enabled
                               ^
TypeError: Cannot read property 'cors_enabled' of undefined
    at new Res

[2014-01-04 13:58] #13 closed, assigned to nobody

[2014-01-13 17:18] sideshowcoder opened #29 "Integrate with express"
Not sure what we need todo here but it would be nice if it could be easily integrated with express during testing / development. Something like

[code]

Would be awesome.

[2014-02-16 18:04] creynders opened #32 "Full rewrite"
Hiya,

here we go: [canned.js](https://github.com/creynders/canned/blob/dev/canned.js) and [parser.js](https://github.com/creynders/canned/blob/dev/lib/parser.js)

So in a nutshell, what I did:
I turned canned into an express app and exposed a `serve` method which allows it to be used in express with `app.use(canned.serve(myDir))` (obviously in the latter case it won't set up an express server of

[2014-03-10 08:50] #32 closed, assigned to nobody

[2014-07-03 18:05] jkjustjoshing opened #34 "Allow to be used as grunt task"
Be able to configure and run this as a grunt task. Suggestion for future improvement.

[2014-07-11 18:54] jkjustjoshing opened #35 "Allow empty response body"
When I have a DELETE endpoint I want to have an empty response body. Currently, canned assumes an empty response body is an error and returns a 500 status code. If the file is read properly I think an empty file should return a 204 status by default.

[2014-07-12 20:07] #35 closed, assigned to nobody

[2014-08-19 14:17] peinguin opened #37 "Unrecognized file in examples"
"example/comment/.get.josn"
It is misprint ot something like that?

[2014-08-19 19:57] #37 closed, assigned to nobody

[2014-08-19 19:59] #34 closed, assigned to nobody

[2014-11-19 18:59] sideshowcoder opened #40 "Craft a new release and push to NPM"
With the just merged PR #39 canned gained some functions worth pushing up to npm, and creating a new release... DO IT!
- [x] update version
- [x] update changelog
- [x] push to npm (with tag)
- [x] update docs page

[2014-12-01 21:42] #19 closed, assigned to nobody

[2014-12-01 21:53] #40 closed, assigned to sideshowcoder

[2014-12-08 13:53] sideshowcoder opened #43 "Cut a new release with recent fixes"
- [x] bump version
- [x] update changelog
- [x] tag
- [x] push to npm

[2014-12-10 20:20] kavithabhaskaran opened #44 "How are sym linked folders (with data) handled?"
So when I have the Canned API server running and I make changes to a an "index.get.json" file, I do not have to restart my server (verified that and it works fine). I can continue sending requests and get responses (including the updated data from index.get.json). My question is if I have all the data in a folder called "Abc" and I sym link it  "Def" in such a way that any requests that I send to

[2014-12-10 20:27] kavithabhaskaran opened #45 "Starting the Canned API server works only with relative path not absolute path"
Suppose I have a dir called "Abc" and I have 10 sub-directories in it "1" through "10". I want to start the canned API server for each of those - it works only with relative path ../../xxx/x/xx and not with absolute path (./canned -p 3000 ../zy/tz/ex) -> this works because it is relative. Why is that? Can it not work with absolute path?

[2014-12-11 09:48] #45 closed, assigned to nobody

[2014-12-14 22:57] kavithabhaskaran opened #47 "Canned server crashed when I try to run a Python script using subprocess module"
Hi Phil:

I have 2 scenarios here:

Scenario #1 (Works fine).

When I start canned API server on Python >> (Python CLI prompt)

[code]

and run the "python add.py" (which does a curl POST) on regular $ prompt, everything works fine and dandy as expected.

[code]

Values of Controller IDs and Controller Names that were successfully added.

---

Scenario #2.(Canned Server crashes and js error)

When

[2014-12-15 17:46] #47 closed, assigned to nobody

[2014-12-16 09:59] sideshowcoder opened #48 "List all routes available"
Currently canned resolves the routes on request, which is great since they can be modified while canned is running without any problems, adding new files/folders/etc. One thing missing so is the option to actually list what is available, currently this is mostly done by using `tree` to show the folder structure of the example folder, which prints something like this:

![screen shot 2014-12-16 at 0

[2014-12-26 19:35] mamtasuri-coraid opened #49 "File name is interpreted as regular expression"
Canned is working great for simple file names such as v1/info/index.get.json. But when we have complicated names that we are testing from influxdb, it's giving an error saying that can't interpret as regular expression. Please suggest!

curl -sLGw "\n%{http_code}  %{url_effective}\n" "http://localhost:17022/db/EtherCloudStats/series?u=root&p=root&q=select+mean(value)+from+%22Coraid.1Controller.ZFS

[2014-12-28 18:47] #49 closed, assigned to nobody

[2014-12-28 19:01] #43 closed, assigned to sideshowcoder

[2014-12-29 00:56] mamtasuri-coraid opened #51 "Problem with relative path resolving"
Version from about 2 weeks ago is working. So not sure if some configuration has changed, or if I need to start/configure it differently. These are the steps that I followed:

1. Download version canned-0.3.1.zip, and unzipped it
2. Ran canned <dir>  for a particular directory
3. Using curl for a response is giving 404
starting canned on port 17022 for mockInflux/mockInfluxDB2
request: get /db/Eth

[2015-01-05 10:25] sideshowcoder commented on #51
I traced this down to a problem with the relative path handling. It works find if you start canned from the root directory like `bin/canned mockInmockInflux/mockInfluxDB2` but breaks if you start it via `cd bin && ./canned mockInmockInflux/mockInfluxDB2`. The workaround is to install globally for now I guess, while I work on fixing that.

[2015-01-05 10:26] sideshowcoder commented on #44
I'm closing this since it seems unrelated to to canned internal stuff.

[2015-01-05 10:26] #44 closed

[2015-02-04 18:40] #51 closed

[2015-02-04 22:28] sideshowcoder opened #56 "Option to proxy requests for unknown paths"
If canned is used to stub out requests for a server it can be useful to proxy requests for unknown routes. The idea is to instead of serving a `404` forward the request to specified server and serve the result.
[code]
when querying for a path that is not present in canned like
[code]
it shoudl issue a query to `http://example.com/i_dont_exist_in_canned` and serve
whatever the result of this query

[2015-02-23 03:31] simonprickett opened #58 "Apostrophes in JSON response break the comment parser // !params etc"
I've noticed that if I use the:

[code]

notation to use a single JSON file to return different responses according to URL parameter value, this will break if the JSON response contains an apostrophe (and maybe some other "special" characters).

Here's an example showing that using the parameter in the filename works, but using the special comment notation does not work.

_test?param=a.get.json
--

[2015-02-23 03:52] simonprickett commented on #58
I added some debug and it looks like it doesn't parse out the complete response and stops at the ':

[code]

[2015-02-23 03:57] simonprickett commented on #58
I think the problem's in "getEachResponse" but it's a bit late night to debug regex will continue tomorrow!

[2015-02-23 19:12] sideshowcoder commented on #58
Thanks for the long explanation, I will try to help as much as I can an lock into it asap but I feat it might take a while so any help you can provide is greatly appriciated!

[2015-03-26 13:16] kevinschumacher commented on #58
Running into this as well, but on my end it's not apostrophes (there are none in my responses, though they are beasts). Any movement on this? If not I can probably try to take a look. Just curious, @simonprickett what has you thinking the issue is in getEachResponse?

[2015-03-26 13:18] sideshowcoder commented on #58
@kevinschumacher I haven't had time to look into this, yet feel free to send some fix along.

[2015-03-26 15:27] kevinschumacher commented on #58
OK, definitely an issue in Canned.prototype.getEachResponse()

Is there any particular reason that regex is being used to break the responses?
I think it would probably be less error prone if we just break responses up every time you see "//!" starting a line. Any thoughts on that? I will try the fix and PR shortly

[2015-03-26 17:19] simonprickett commented on #58
Sorry I've been kind of occupied but do mean to circe back -- I was thinking replacing the regex with something to parse out comments on lines starting with //! would lead to more transparent code and that that was likely where the issue was.

[2015-03-26 17:50] kevinschumacher commented on #58
Totally agree. I opened PR with a hacked in fix that shrinks the issue, but the better fix is (probably) to split responses where lines begin //!

[2015-03-26 20:39] sideshowcoder commented on #58
I agree with @simonprickett here and would say that splitting at `//!` is the more solid route to go, see comment on #59 Thanks so much for your work both of you!

[2015-03-27 22:54] sideshowcoder opened #62 "Status code combined with other options is not working"
discovered while working on #58 combining statusCode and headers on seperate lines with //! does not work

[code]

This should be handled by extractOptions which is only handling the status code right now.

[2015-03-31 08:21] #58 closed

[2015-03-31 08:21] #62 closed

[2015-06-05 13:19] msurdi opened #64 "Wildcard fallbacks feature"
Hi, I'd like to suggest a feature which maybe you can find interesting too.

It would be very useful to have 'wildcard' directories, so that if for given a request like:

    GET /api/users/1/profile/

you don't have a file in `./canned/api/users/1/profile/index.get.json` then it would look for a file in `./canned/api/users/:id/index.get.json` or similar.

This could be extended to support nested

[2015-06-05 16:01] sideshowcoder commented on #64
That sounds like a good idea, I would like to stay with the naming conventions if possible which right now uses `any` for naming whildcards. I'm not sure if that completly makes sense so... I guess if you have a usecase for that you can provide some insight there, the only thing you need to be aware of is that `canned` right now supports windows as well which means certain characters in directorie

[2015-06-28 07:52] omerts opened #66 "Wildcard not detected when in the middle of the path"
Hello,

I am trying to use the "any" wildcard, but in the middle of the path, for example:
[code]
My folder hierarchy is:
/any/pic/index.get.json

Thanks,
Omer

[2015-06-29 09:07] sideshowcoder commented on #66
@msurdi might know more I just looked into it and I seem to have the same problem and realized this is actually not covered by the tests as the feature was just added in #64. I added some tests in #67 to cover and investigate this.

[2015-06-30 06:16] msurdi commented on #66
@sideshowcoder I've just submitted a PR which should make all tests pass again. That was definitely a bug.

Having said that, I still don't understand the relation of that issue with the problem reported here by @omerts . I've tried it before fixing the bug and it worked fine for me. @omerts , Did you install from npm repository? or were you trying the master branch from github?

[2015-06-30 07:56] omerts commented on #66
@msurdi I installed from the npm repository

[2015-06-30 08:17] msurdi commented on #66
That would explain it then, I think this feature isn't present in any release yet. If you want to try it out, reinstall it with: `npm install -g sideshowcoder/canned`

[2015-06-30 08:44] sideshowcoder commented on #66
Yeah this is scheduled for the next release, most likely later this week. thanks @msurdi I didn't even think about that.

[2015-06-30 13:40] omerts commented on #66
@msurdi using npm install -g sideshowcoder/canned, makes it work perfectly. Thank you.
Just as a side note (if it is on purpose), maybe add to the docs that the :id part has to be numeric.

[2015-06-30 22:28] Schmelter commented on #47
In case people are still running into this, here's how I solved it.  Basically, if I didn't set a STDIN/STDOUT/STDERR for the Popen call, it seemed to work.

Startup.POPEN_CANNED = subprocess.Popen(['canned -p 3000 %s' % props.mockBase], shell=True, preexec_fn=os.setsid)

The POPEN_CANNED variable is just a static class variable to the returned Popen so that I can shutdown canned later with:

Star

[2015-07-01 09:24] sideshowcoder commented on #47
Awesome thanks for the tip!

[2015-08-17 11:52] brendan-rius opened #69 "Serve custom HTTP headers on responses"
I would like to be able to add custom HTTP headers on responses so I can fake - for example - the login process (which returns a `Authorization` header)

[2015-08-17 13:56] sideshowcoder commented on #69
That is possible, take a look at https://github.com/sideshowcoder/canned#variable-responses using the `header`.

[2015-08-17 14:16] brendan-rius commented on #69
As I understand it, it is possible to change the response being sent depending on the request headers. But I would like to add custom HTTP headers to the request.

I implemented this locally because it could not find it anywhere in the documentation/code

[2015-08-17 14:22] sideshowcoder commented on #69
Ah sorry I see, yes that is currently not possible, yet it has been done specifically for the CORS headers but nothing else so far... PR would be very welcome.

[2015-08-17 15:19] brendan-rius commented on #69
PR #70 should solve this

[2015-08-17 16:23] #69 closed

[2015-10-20 17:01] xdemocle opened #73 "Get different response thank to params in json files doesn't works"
I set my json file for multiple responses like below
[code]

But canned continue to deliver only the first response, despite I use a different query_list.
Any idea?

[2015-10-21 08:33] sideshowcoder commented on #73
Just edited a comment for more readablilty... I'm trying it out.

[2015-10-21 14:04] sideshowcoder commented on #73
yes this is a bug I just tried it and it seems to ignore the 2. param if the first matches. I created a test for it to work towards fixing if you want to look into it feel free :)

[2015-10-21 14:41] xdemocle commented on #73
cool, thanks. is a good tool for mockup data. Congrats

[2015-10-22 13:59] xdemocle opened #75 "Canned breaks if params contains strange characters"
Canned breaks if params contains strange characters.
Like: - + %20 etc.

Example:
[code]

[2015-10-22 14:15] xdemocle commented on #75
Looks like is the regex below that break the matched lines:

var requestMatch = new RegExp(/\/\/! [body|params|header]+: ([\w {}":,@.]*)/g)

[2015-10-22 14:20] xdemocle commented on #75
I temporary resolved like below. But i'm not a RegExp expert.
[code]

[2015-10-22 14:24] sideshowcoder commented on #75
If it passes the test I'm good with it mind sending a PR?

[2015-10-22 14:25] xdemocle commented on #75
Nope, I don't mind... I was just gonna fork

[2015-10-22 14:47] #75 closed

[2015-10-22 15:36] xdemocle commented on #73
I'm working on it... cause I really need it :dancer:

[2015-10-22 15:45] sideshowcoder commented on #73
awesome :+1:

[2015-10-30 12:14] andy-otter opened #79 "CR/LF causing "Unexpected token" with variable responses."
On Windows 7. Having a file as follows with CR/LFs at the end of each line causes an "Unexpected token". Converting the EOL to LF works as expected.

Node version is 0.12.2 (x64) on Windows 7

`//! params: {"serialkey": "abc"}`
`{`
`	"errorCode": "ERROR1"`
`}`

`//! params: {"serialkey": "12121"}`
`{`
`	"errorCode": "ERROR2"`
`}`

[2015-10-30 16:58] sideshowcoder commented on #79
Ugh that is not nice :( happy to accept a PR for it as I normally am not on a windows machine, but I can  set one up I guess. Thanks for the report!

[2015-11-02 10:39] andy-otter commented on #79
I'll take a look and see if I can get a PR sorted out in the next few days or so.

[2015-11-02 11:05] sideshowcoder commented on #79
Thanks @andy-otter that would be awesome. I assume it is a problem with the filtering of comments. If you could create a test to start out with that would be super helpful!

[2015-11-03 17:34] xdemocle commented on #73
FYI, the canned npm package is still the 0.3.4v

[2015-11-03 18:16] sideshowcoder commented on #73
Oh shot ... I know there was something I missed sorry about that...

[2015-11-03 18:22] sideshowcoder commented on #73
It's up now, thanks for the reminder :+1:

[2015-11-03 21:44] andy-otter commented on #79
Could take a while to sort this out, have to create a linux env as the test cases filenames have characters that aren't supported by Windows (for example, ?) so can't actively do development.

Bear with me and i'll get it sorted in due time (teaches me for using Windows!)

[2015-11-03 21:49] sideshowcoder commented on #79
:( Oh yeah, could you create a failing test on windows which shows the problem and commit this to a branch? Than I can try to work on this locally for me as well maybe we get there faster when we both look into it? Also would setting up a vagrantfile help?

[2015-11-04 09:59] xdemocle commented on #73
ehhehe cool :) thank you

[2015-11-14 21:15] andy-otter commented on #79
Bit new to this, i'm trying to push a new branch to the repo - however it looks like you may need to add my account as a contributor ?

[2015-11-15 13:07] sideshowcoder commented on #79
No problem, so what you can do is click the fork button and push you branch to the forked version under your username. Than you can open a pull request from there, it will probably offer this when you go to your repository and pushed the new branch of yours. Then we can continue the discussion on the pull request. Hope this works for you, feel free to ask if you have any trouble! Also you might fi

[2015-11-24 05:29] git-jiby-me opened #80 "Doesn't consider Accepts Header to decide to return HTML or JSON"
If i have one GET endpoint, returning HTML and JSON based on Accepts header, it always delivers the HTML content whatever be the  Accepts Header.

As far as i see, if there is HTML and JSON responses for a endpoint, canned should check the Accepts Header to decide which content to sent

[2015-11-24 07:31] git-jiby-me commented on #80
Submitted a pull request introducing this fix, https://github.com/sideshowcoder/canned/pull/81

[2015-11-24 09:31] sideshowcoder commented on #80
closed via #81

[2015-11-24 09:31] #80 closed

[2015-11-25 06:02] git-jiby-me commented on #73
@sideshowcoder , @xdemocle I think this have been fixed, but not closed ?

[2015-11-25 13:59] git-jiby-me commented on #79
@andy-otter fixed with https://github.com/sideshowcoder/canned/pull/83

[2015-11-25 13:59] #79 closed

[2015-11-25 18:28] git-jiby-me commented on #56
https://github.com/sideshowcoder/canned/pull/84

[2015-11-25 18:30] git-jiby-me commented on #66
@sideshowcoder I think this is already fixed, close it ?

[2015-11-26 09:19] sideshowcoder commented on #66
Yes indeed :) close it!

[2015-11-26 09:29] #66 closed

[2015-11-26 09:30] #73 closed

[2015-11-26 10:13] xdemocle commented on #73
yep... exactly. thanks to close it :dancer:

[2015-12-08 17:40] schroepf opened #87 "Wildcards not working for _someFile.get.json"
I have a file called `_userAccount.get.json` living in `some/path/any/another/path/_userAccount.get.json`

I want this file to be returned as a JSON response when my client accesses `http://localhost:3000/some/path/12345/another/path/userAccount` but with canned 0.3.7 this doesn't work. Canned logs: `request: get /some/path/12345/another/path/userAccount not found`

If I move the file to `some/pat

[2015-12-09 10:02] sideshowcoder commented on #87
That seems like a bug, thanks for reporting! If you have time to provide a testcase that would help a lot.

[2015-12-09 21:47] schroepf commented on #87
When I added the test to `canned.spec.js` I noticed there is already a test case named 'loads named response from wildcard path for /d/1/bar' which tests this exact scenario - the only difference why this existing test passes and my test fails is that the existing test uses a number for the wildcard portion of the request url whereas my test uses characters - so maybe the issue only occurs if the

[2015-12-10 01:14] ratschance opened #89 "Using more than one custom header does not work"
Having multiple custom headers, such as the one from the readme:

[code]

returns the error:

[code]

I believe this is due to the code on line 130 of canned.js:

[code]

which splits the line on commas but should not actually be splitting on the comma located in the JSON string for the custom headers.

[2015-12-18 10:59] sideshowcoder commented on #89
Hi sorry for the late response, I was responding before from by phone but github didn't like it it seems so here it goes:

yes this is indeed right this is a bug and I think you hit the nail on the head that splitting at commas does not work in this case. The problem I see right now is that we can't simply not split, and trying to figure out if we are already in a JSON string starts to get into pa

[2016-01-20 12:51] wadtech commented on #89
Could it instead be switched to accept a single custom header per line?

e.g.

    //! statusCode 200
    //! customHeader: {"My-Header": "My-Value"}
    //! customHeader: {"My-Other-Header": "My-Other-Value"}

The parsing and splitting would then still work, but when you match a customHeader, the key value pair gets added to a customHeaders object.

[2016-01-20 13:28] sideshowcoder commented on #89
@wadtech that makes sense, guess we need a testcase for that.

[2016-01-20 14:18] wadtech commented on #89
Ok, I'll put one together when I get a chance :-)

[2016-01-21 21:13] normand1 opened #92 "Json not appearing in browser"
I have a simple file with a single Json object.

filename: index.get.json

        //! statusCode: 200
        { "content": "I am a wildcard comment for any id", "author": "sideshowcoder" }

After starting canned I open my browser and type http://localhost:3000/test into the address bar.
I see no output in chrome, safari, or firefox, and I get this response from canned:

      request: get /test n

[2016-01-22 05:44] git-jiby-me commented on #92
@normand1 this is because, canned reads the request `accept` header to decide which file to respond with.

If the accept headers says `i am expecting html`, then canned will return *.get.html and if accept headers says 'i am expecting json' then canned will return *.get.json.

When you just enter `http://localhost:3000/test` in browser, browser is asking for `give me html content for this url`, ra

[2016-01-22 10:46] sideshowcoder commented on #92
For reference if you want to do the curl request try:

[code]

[2016-01-22 10:46] #92 closed

[2016-01-22 10:49] wadtech opened #93 "Very long filename for regexmatchbug endpoint causes failed install"
I'm using ecryptfs on Ubuntu and when I install canned, the _regexmatchbug file pushes the filename length over the limit.

Since this file is there to cover a regression I'm loathe to get rid of it but I don't know what other approach I can take to mitigate the problem.

I've appended the npm error output for clarity.

Currently I've been installing it into `/tmp` with `npm install canned` then r

[2016-01-22 11:17] sideshowcoder commented on #93
Ugh... that is not nice, could you check how far over the limit it is? would shortenting the filename help? Otherwise an option would be to move the test to use a file with the params in the file for matching not in the file name, basically doing a multi response file. What do you think?

[2016-01-22 12:29] wadtech commented on #93
`/home/peter/projects/node_modules/.staging/canned-55c23294/spec/test_responses/_regexmatchbug?u=root&p=root&q=select+mean(value)+from+%22Coraid.1Controller.ZFS.VOps-3008.gauge.wlat%22+where+time+%3E++now()+-+86400000000u+and+time+%3C+now()+-+0u+group+by+time(240000000u)+fill(null).get.json` comes in at a weighty 290 characters. The limit for ext4 is 255 I believe.

I think there's something ecryp

[2016-05-23 11:12] targoo opened #97 "Canned crashes when using query string parameters"
node version: v6.1.0
Whenever you try to use query string parameters canned crashed with the following message

if(source.hasOwnProperty(prop)){
  TypeError: source.hasOwnProperty is not a function

[2016-05-23 11:18] targoo commented on #97
here is the PR to fix it: https://github.com/sideshowcoder/canned/pull/98

[2016-05-23 15:45] sideshowcoder commented on #97
fixed thanks 👍

[2016-05-23 15:45] #97 closed

[2016-05-30 12:28] misantronic opened #99 "JSON is not found"
I have the following file-structure:

[code]

I start canned via `$ canned -p 5000 ./api`

localhost:5000/ works.
localhost:5000/customer is not working -> `request: get /customer/ not found`

When I replace `/api/customer/index.get.json` with `/api/customer/index.get.html` it works as HTML-file.
I also tested all other possibilities from the docs, but I cannot get json-files to work :/

canned: 0

[2016-05-30 20:51] sideshowcoder commented on #99
Thanks for the report, this seems like a bug which I though would have been covered by the tests but I guessed worngly. If you like to help out identifying the problem it would be great if you could add a test to the `/spec/` directory. I will try to figure out what is going on as soon as possible.

[2016-05-31 20:45] CheungJ commented on #99
@misantronic how are you attempting to view `localhost:5000/customer`?
I had an issue where I was seeing a 404 error when trying to access a `.json` file by opening in the browser, but that doesn't work. After debugging, I realised that accessing the URL via the browser sets the `Content-Type` as `html`, therefore canned is trying to retrieve a HTML file.

Is that the case for you?

[2016-05-31 21:26] CheungJ opened #100 "Iterate through all types and subtypes specified in the HTTP 'Accept' header"
The HTTP `Accept` header is a mechanism for the client to tell the server which [media types are acceptable for the response](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).

Canned only checks the first subtype in the `Accept` header, but if a file does not exist with the first subtype, it does not attempt to check for a file matching the following subtypes.

[2016-05-31 22:14] misantronic commented on #99
Thank you for your replies.
I actually just tested canned in the browser. I will try it tomorrow via ajax!

[2016-06-01 07:49] #99 closed

[2016-06-01 08:03] CheungJ commented on #99
Awesome, glad to hear!
The same thing caught me out last week.

[2016-06-01 08:40] sideshowcoder commented on #100
This is true and so far has been by design, the reason being that as canned from my side has been used for testing I wanted the matching to be rather strict, as `Accept` headers are something notoriously handled in odd ways except the bare minimum. I can see the reason so why one would like it to be less strict, if possible even resemble different kind of backends (aka Rails does different things

[2016-06-01 09:23] sideshowcoder commented on #99
@CheungJ @misantronic anybody mind taking a look if this makes sense to you? https://github.com/sideshowcoder/canned/pull/101

[2016-06-02 23:30] robertbird opened #102 "Ability to specify a delayed response"
Hi there,

This looks like a great mocking framework and exactly what I need for testing, so thanks for putting in all the hard work and sharing this! However I am looking to be able to simulate quite slow services with latency etc. So it would be a really great feature to be able to add a comment to set a delay

i.e. for 2000ms delay
//! delay: 2000

I know the obvious answer is to have a look my

[2016-06-03 10:04] sideshowcoder commented on #102
Thanks for the feedback, and glad you find it helpful. I think this would be a great thing to support indeed, in the meantime you can probably achieve this quickly now by doing something like

https://github.com/flesler/connect-pause/blob/master/index.js

[2016-06-14 11:12] CheungJ commented on #100
I've created a PR for a "dumb" version of this issue: https://github.com/sideshowcoder/canned/pull/103

[2016-06-14 16:02] sideshowcoder commented on #100
Awesome thanks for your work, I'm currently at a conference so I can't review but I will as soon as I'm back on Thursday. Thanks again cheers!

[2016-06-14 16:06] CheungJ commented on #100
Cool, thanks! Enjoy the conference! :)

[2016-06-24 10:21] sideshowcoder commented on #100
Thanks this is now available in 0.3.9! Great work!

[2016-06-24 10:21] #100 closed

[2016-06-27 02:20] swapnasavant opened #106 "Ability to give different responses for a same polling request"
I have a RestAPI which I poll from UI to get status of an operation. The API returns inprogress/success/failure for the same request.
I need to mock this API to first show inprogress and then succeeded.

Is there any way I can do this with canned?

[2016-06-27 13:13] CheungJ commented on #100
Great! Thanks! I plan to contribute more in future.

[2016-06-27 13:14] sideshowcoder commented on #100
Happy to hear! feel free to contact me on twitter https://twitter.com/ischi for quick things or we can jump into the gitter chat if need be 👍

[2016-09-08 03:35] scotchneat opened #108 "Ability to log request headers and body"
This could come in handy when troubleshooting within a dev/test environment.
The feature could be configurable, preferably via argument.

If I can get time, I'll see if I can submit a PR.

[2016-09-08 09:02] sideshowcoder commented on #108
Makes sense to me, and sounds indeed like a great thing to have, currently the logging is very bare bones (to say the least). I'm very happy to accept a PR on this, also feel free to open a PR early if you need any help I'm happy to give help out on the PR as well.

[2016-09-08 20:54] seafoodbuffet opened #109 "any as a directory name"
I'm trying to figure out how to use the following example from the docs:

/comment/any/votes/index.get.json

it seems to me like requests such as
GET /comment/1/votes/
GET /comment/asdfasdf/votes/
or even
GET /comment/2/votes

should all map to this file.

However, that doesn't appear to be the behavior I'm seeing. Instead, I get 404 errors. Is this the designed behavior or is it a bug?

[2016-09-09 09:29] sideshowcoder commented on #109
Yes that should work, and if it doesn't it is indeed a bug. Thanks for reporting! If you got some time and would like to help out a testcase which reproduces is highly welcome, feel free to add it in the https://github.com/sideshowcoder/canned/blob/master/spec/canned.spec.js I feel like this should be covered by the https://github.com/sideshowcoder/canned/blob/master/spec/lookup.spec.js but I gues

[2016-09-09 09:31] sideshowcoder commented on #106
Sorry for the late response, this is currently not possible directly as canned maps to files, however in case your api sends different parameters this can be accomplished through the use of multiple responses (in one file) matching the request parameters.

[2016-09-09 09:31] #106 closed

[2016-09-09 09:33] sideshowcoder commented on #93
I think since the matching on file names for get parameters is deprecated now anyway, and it really does not work well on Windows for example I think we can close this and just move this test to use multiresponses in one file in the future.

[2016-09-09 09:33] #93 closed

[2016-09-09 09:34] sideshowcoder commented on #87
That is indeed the case I think the regex matches for numbers, I think supporting characters would probably be good as well so.

[2017-02-08 01:20] kdeng commented on #23
Any update about this error?

[2017-02-20 20:04] mazoni commented on #89
I'm having the same problem. Do we have a work around for this? Thank you in advance.

[2017-02-21 16:58] sideshowcoder commented on #89
@mazoni sorry I currently am not actively working on this, but am very open to accepting PRs for getting this fixed and helping as much as I can to get this pushed through.

[2017-02-21 19:03] mazoni commented on #89
There it goes @sideshowcoder, if you could take a look at it. I tested locally and wrote some specs too. Sorry if something don't match the used pattern.

[2017-02-22 10:13] sideshowcoder commented on #89
Thansk so much @mazoni I left some comments, mainly some suggestions around the style awesome work!

[2017-02-22 15:59] sideshowcoder opened #111 "Consider moving the documentation somewhere better"
Currently the documentation lives in the readme, which is not ideal, maybe consider moving it to something like readthedocs.org for better viewablity and access.

What would be involved in doing this?

How does this work?

[2017-02-23 14:58] mazoni commented on #89
@sideshowcoder , I've made the style change you mentioned. It was really looking weird.
Could you merge the pull request? I'm willing to use this as soon as we have it merged. After merge does it go directly to NPM?

[2017-02-23 15:24] sideshowcoder opened #112 "Update README and release."
Include https://github.com/sideshowcoder/canned/pull/110 changes
release

[2017-02-23 15:26] sideshowcoder commented on #89
Just merged thanks for that, I will release to NPM soon it does not automatically go there but you can install from github for now. I'll created an issue to track the release, will do probably tomorrow morning.

[2017-02-23 15:26] #89 closed

[2017-02-26 18:15] sideshowcoder commented on #112
Done, https://www.npmjs.com/package/canned tagged https://github.com/sideshowcoder/canned/releases/tag/0.3.10

[2017-02-26 18:15] #112 closed

[2017-09-13 23:05] sampsonjoliver opened #117 "Bug: ENOENT No such file or directory when installing with Yarn 1.0.1"
Had this issue when installing canned with yarn 1.0.1 on Windows. I raised an issue over on Yarn and the issue was closed as being to fault with the canned package name.

**What is the current behavior?**
error An unexpected error occurred: "https://registry.yarnpkg.com/canned/-/canned-0.3.9.tgz: ENOENT: no such file or directory, open 'C:\\Users\\samjo\\AppData\\Local\\Yarn\\cache\\v1\\npm-canned

[2017-09-14 03:26] joshmanderson opened #118 "npm package not up to date?"
Hey there. Thanks for canned - it's awesome!
I went to use the `response_delay` feature locally, but it looks like the latest package on npm doesn't have that code. Guessing that publishing to npm was just forgotten after that change.

[2017-09-14 08:29] kumarharsh commented on #117
It was solved (https://github.com/sideshowcoder/canned/issues/19) but came back?

[2017-09-14 23:08] sampsonjoliver commented on #117
@kumarharsh hm yeah, looks like a similar issue.

It looks like the canned package comes with some test response files that have the issue in #19. When installing from yarn 1.0.1 it can't write those files so the whole install fails, whereas when I install from yarn 0.27.0 or from npm, then it writes those files by stripping the '?' characters from the file name.

For example, after installing wit

[2017-10-13 02:30] sampsonjoliver commented on #117
Still happening on yarn 1.2.1 as well.

Due to the nature of this problem, I expect it's not going to go away, which is unfortunately making it very difficult to keep using canned while on a Windows machine.

[2018-03-06 16:04] sanstream opened #120 "test '#49' fails on master branch"
running `npm test` or `make test`
Gives this output:
[code]

[2018-03-06 22:34] #118 closed

[2018-04-12 08:35] sideshowcoder commented on #120
Is this still happening for you? I tried locally with the latest version and it seems to run through fine for me. What System are you on, I'm wondering if it is a version related issue?

I'm on Ubuntu 17.04, node v6.11.4 currently.

[2018-04-12 10:59] sideshowcoder commented on #118
Newest version has been published, sorry for the delay

[2018-04-12 16:30] sideshowcoder commented on #117
I think the way to go here is to delete the files containing special characters (not supported on windows). Given that there is an alternative to those file names by including what currently is in the name of the file in the file itself the tests could be rewritten in such a way, and therefor enabling this to work on windows.

[2018-04-14 14:43] sideshowcoder commented on #120
This test is no longer relevant and has been removed.

[2018-04-14 14:43] #120 closed

[2018-04-14 14:44] sideshowcoder commented on #117
I tested it on Windows now using Yarn, and I could reproduce before the change, now

[code]

works as expected.

[2018-04-14 23:02] sanstream commented on #120
Sorry for the late response. I am on holiday 😏

I'm fine btw with it being closed since I made this issue as a FYI anyway.

Thank you for building this project.

Sanne Peters

On Sat, 14 Apr 2018, 23:43 Philipp Fehre, <notifications@github.com> wrote:

[2020-01-28 16:10] #108 closed

[2020-05-04 02:43] sharath2106 commented on #111
Hi @sideshowcoder

If this is not picked up and If you've the domain ready, I can start working on this.

[2020-05-15 21:24] sideshowcoder commented on #111
Hey hey, this is not picked up no. Happy if you do, actually I don't have a domain for it but I would suggest either hosting on GitHub like the current docs but with a better design and usability, or using some tool like readthedocs

[2021-02-12 12:06] joanargarrido opened #126 "Remove optimist package"
According to [optimist documentation](https://www.npmjs.com/package/optimist), this package is deprecated. Is it possible to replace this with [minimist](https://www.npmjs.com/package/minimist) instead? The optimist package is throwing vulnerabilities in snyk.

[2021-02-16 12:26] sideshowcoder commented on #126
Sure, sounds good. Happy to accept a PR, I'm not sure when I will get to it.